.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  color: blue;
  position: absolute; /* Position the element relative to its nearest ancestor */
    top: 5vh;             /* Align to the top */
    left: 20vh;           /* Align to the right */
    margin: 10px;       /* Optional: Add some space from the edges */
    width: 100px;       /* Set the size of the logo (adjust as needed) */
    height: auto;       /* Maintain the aspect ratio */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    color: blue;
  }
}

#home {
  color: rgba(1, 39, 97, 0.553);
  background-color: #e4ec0390;
  size: 5vh,5vh;
  position: absolute; 
    top: 5vh;            
    left: 20vh;           
    margin: 10px;       
    width: 100px; 
}

.App-header {
  background-color: rgb(220, 220, 220);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0F2D52;
}
