* {
    font-family: sans-serif;
}


                                        /* Styles used in more than 1 component */

/* general class card styles */
.class-card-container {
    border: 0.5px solid black;
    border-radius: 7px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.sub-class-card-container {
    display: flex;
    align-items: center;
}

.class-card-header {
    font-weight: 550;
    font-size: 1rem;
    padding-bottom: 8px;
}

.class-card-sub-header {
    font-weight: 300;
    font-size: 0.9rem;
}

.shapes-logo-container {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 80px;
    background-color: rgb(219,220,223);
    display: flex;
    justify-content: center;
    align-items: center

}

.shapes-logo {
    width: 70px;
}


/* general Circle Icon styles */
.circle-icon {
    position: relative;
    margin: 4px 20px;
    padding: 10px 14px;
    background-color: rgb(231,222,253);
    border-radius: 50%;
    color: rgb(231,222,253);
    height: 38px;
}

.circle-icon-letter {
    position: absolute;
    color: rgb(98,85,139);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#timeSelectorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust gap as needed */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.time-input-container {
  display: flex;
  align-items: center;
}

.time-input-container label {
  flex: 0 0 100px; /* Fixed width for label */
  font-weight: bold;
}

.time-input-container input[type="time"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* center class cards styles */
.center-class-cards-container {
    display: flex;
    flex-direction: column;
    width: 690px;
    gap: 10px;
}

.center-wide {
    width: 100%;
}



/* side class card styles */
.selected-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    gap: 10px;
}

.selected-courses-title-container {
    width: 327px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 7px;
}

.selected-courses-title {
    font-size: 1rem;
    font-weight: 400;
}

.side-narrow {
    width: 100%;
}



/* preferred day styles */
.preferred-day-container {
    width: 326px;
    height: 340px;
}

.preferred-day-item {
    padding: 0 30px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
}

.preferred-day-sub-container {
    display: flex;
    align-items: center;
}

.preferred-day {
    font-weight: 300;
    font-size: 1rem;
}

.preferred-day-check-box {
    width: 17px;
    height: 17px;
}

.preferred-day-check-box:checked {
    accent-color: rgb(98,85,139);
}

#clearButton {
	width:60%;
	height:80px;
	border-radius:20px;




}
