* {
    font-family: sans-serif;
}

/* class card */
.selected-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    gap: 10px;
}

.selected-courses-title-container {
    width: 327px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 7px;
}

.selected-courses-title {
    font-size: 1rem;
    font-weight: 400;
}

.class-container {
    border: 0.5px solid black;
    border-radius: 7px;
    width: 360px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.sub-class-container {
    display: flex;
    align-items: center;
}

.sub-class-container > .preferred-day-icon {
    height: 38px;
}

.class-header {
    font-weight: 550;
    font-size: 1rem;
    padding-bottom: 8px;
}

.class-sub-header {
    font-weight: 300;
    font-size: 0.9rem;
}

.shapes-logo-container {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 80px;
    background-color: rgb(219,220,223);
    display: flex;
    justify-content: center;
    align-items: center

}

.shapes-logo {
    width: 70px;
}




/* preferred day */
.preferred-day-container {
    width: 326px;
    height: 240px;
}

.preferred-day-item {
    padding: 0 30px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
}

.preferred-day-sub-container {
    display: flex;
    align-items: center;
}

.preferred-day-icon {
    position: relative;
    margin: 4px 20px;
    padding: 10px 14px;
    background-color: rgb(231,222,253);
    border-radius: 50%;
    color: rgb(231,222,253);
}

.preferred-day-letter {
    position: absolute;
    color: rgb(98,85,139);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.preferred-day {
    font-weight: 300;
    font-size: 1rem;
}

.preferred-day-check-box {
    width: 17px;
    height: 17px;
}

.preferred-day-check-box:checked {
    accent-color: rgb(98,85,139);
}